body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

h1 {
  font-size: 5rem;
}

#scores {
  position: absolute;
  width: 100%;

  tbody {
    display: block;
    height: 75vh;
  }

  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
    overflow: auto;
  }

  table {
    width: 50%;
    margin: auto;
  }
}

#start {
  position: absolute;

  h1 {
    font-size: 10rem;
  }
}
