body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

#scores {
  position: absolute;
  width: 100%;

  table,
  tr td {
    border: 1px solid black;
    padding: 1rem;
  }

  tbody {
    display: block;
    height: 75vh;
    overflow: auto;
  }

  thead,
  tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }

  thead {
    width: calc(100% - 1em);
  }

  table {
    width: 100%;
  }
}
